https://www.kaggle.com/c/open-shopee-code-league-logistic

Task: 偵測包裹是否延誤

第一次送貨不成功，會進行第二次送貨
第二次送貨不能超過3天
時間格式：UTC + 8
工作日：Monday ~ Saturday
Day 0 = Day of Pickup; Day 1 = Next Day after Pickup
公定假日：
    2020-03-08
    2020-03-25
    2020-03-30
    2020-03-31
SLA:
|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

Steps:
1. 算出第一次及第二次運貨時間
2. 算出每個地點的標準送貨時間
3. 比較出是否有延誤

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import os

#1 把delivery_orders_march.csv讀進來

In [2]:
data=pd.read_csv('delivery_orders_march.csv',sep=',')
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

#2 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 轉換成人看得懂的時間

In [3]:
data['pick'][0]

1583138397

In [4]:
pd.Timestamp(data['pick'][0],unit='s')

Timestamp('2020-03-02 08:39:57')

#3 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間

In [5]:
pd.Timestamp(data['pick'][0],unit='s') +timedelta(hours=8)

Timestamp('2020-03-02 16:39:57')

In [6]:
pd.Timestamp(data['pick'][0],unit='s' ,tz='Asia/Singapore')

Timestamp('2020-03-02 16:39:57+0800', tz='Asia/Singapore')

#4 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間
   只取日期出來

In [7]:
pd.Timestamp(data['pick'][0],unit='s' ,tz='Asia/Singapore').date()

datetime.date(2020, 3, 2)

#5 把第4題的結果套用在整個 pick 欄位 並存在新的 pick_date 欄位

In [8]:
data['pick_date']=data['pick'].apply(lambda x: pd.Timestamp(x,unit='s' ,tz='Asia/Singapore').date())
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04

#6 針對 1st_deliver_attempt, 2nd_deliver_attempt 也轉換成日期 並存在新的 first_date, second_date 欄位 （參考第5題）

In [9]:
data['first_date']=data['1st_deliver_attempt'].apply(lambda x: pd.Timestamp(x,unit='s' ,tz='Asia/Singapore').date())
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06

In [10]:
data['second_date']=data['2nd_deliver_attempt'].apply(lambda x: pd.Timestamp(x,unit='s' ,tz='Asia/Singapore').date())
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT

#7 以list的型態列出所有的非工作日
   日期要以日期型態表示

In [11]:
holidays=[
    '2020-03-01',
    '2020-03-08',
    '2020-03-15',
    '2020-03-22',
    '2020-03-25',
    '2020-03-29',
    '2020-03-30',
    '2020-03-31',
    '2020-04-05',
]
h_days = [datetime.strptime(i,'%Y-%m-%d').date() for i in holidays ]
h_days

[datetime.date(2020, 3, 1),
 datetime.date(2020, 3, 8),
 datetime.date(2020, 3, 15),
 datetime.date(2020, 3, 22),
 datetime.date(2020, 3, 25),
 datetime.date(2020, 3, 29),
 datetime.date(2020, 3, 30),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 5)]

#8 取出其中一個非工作日的日期
   並用這個日期找出取貨日到第一次送貨的日期中有出現這個日期的資料
   提示：利用 loc 做判斷

In [12]:
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT

In [13]:
h_days[1]

datetime.date(2020, 3, 8)

In [15]:
data.loc[(data['pick_date']<=h_days[1]) & (data['first_date']>=h_days[1])]
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT

#9 利用迴圈的方式找出：
   1. 取貨日～第一次送貨日當中出現過非工作日的天數，並存成新的欄位 h_first
   2. 第一次送貨日～第二次送貨日當中出現過非工作日的天數，並存成新的欄位 h_second

In [17]:
data['h_first'] = 0
data['h_second'] = 0
for i in h_days:
    data.loc[(data['pick_date']<=i) & (data['first_date']>=i),'h_first']+=1
    data.loc[(data['first_date']<=i) & (data['second_date']>=i),'h_second']+=1

In [18]:
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0,0
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0,1
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0,0
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0,0
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0,0

#10 把 h_first, h_second 變成天數型態

In [19]:
data['h_first']=data['h_first'].apply(lambda x:timedelta(days=x))
data['h_second']=data['h_second'].apply(lambda x:timedelta(days=x))
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days

#11 找出第一次以及第二次的運送天數，並扣掉當中的非工作日

In [21]:
data['final_first']=data['first_date'] - data['pick_date']-data['h_first']
data['final_second']=data['second_date'] - data['first_date']-data['h_second']
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT

#12 找出買家及賣家居住城市，並存成新欄位 b_add, s_add

In [23]:
[i for i in data['buyeraddress'][:5]]

['Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,cordova,cebu Mt.VERNON Buolding, Habagat Lordman NATL Metro Manila',
 "coloma's quzom CASANAS Site1 Masiyan 533A Stolberge 10,Baloy eastt away 041banahaw street,Tuguegarao agro, Metro Manila",
 '21-O LumangDaan,Capitangan,Abucay,Bataan .Bignay Office,Buhanginan saBrgy186, 34i (bayanihan MALARIA, Alindahaw, Rm401, st.ngry p.pasubas metro manila',
 '616Espiritu MARTINVILLE,MANUYO #5paraiso kengi 12nn-9pm Brgy,Milagrosa 6Putohan,Tramo #18saint вєrnαвє st,CAA Metro Manila',
 'L042 Summerbreezee1 L2(Balanay analyn Lot760 Cluster3-2T seppina UPPERG/L luzon']

In [24]:
data['b_add']=data['buyeraddress'].apply(lambda x:x.split(' ')[-1])
data['s_add']=data['selleraddress'].apply(lambda x:x.split(' ')[-1])

In [25]:
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila

#13 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料

In [26]:
data.loc[data['b_add'].str.contains('manila|Manila '),:]

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila
305,2229369682,1583138930,1.583205e+09,NaN,"street#719 paz,iloilo ,10K ckc site,Quezon Dr....","ETSI St.Brg.293 1136 Barangy Regency 421 2407,...",2020-03-02,2020-03-03,NaT,0 days,0 days,1 days,NaT,manila,Manila
378,2229757211,1583298428,1.583385e+09,NaN,"(m) Stakahan westwon (HIS Pugon Avenue,Corner,...",1D-40 DILANG 1502A RD Spain 13D 67-F Wennies S...,2020-03-04,2020-03-05,NaT,0 days,0 days,1 days,NaT,manila,Manila
3280,2254457380,1583490860,1.583736e+09,1.583820e+09,"tejeron.. Ext.West,Sta.Mesa,Mla. E.Kahilom S4J...",Beauche dos Yugoslavia blvd Metro Manila,2020-03-06,2020-03-09,2020-03-10,1 days,0 days,2 days,1 days,manila,Manila
3970,2266300215,1583561028,1.583736e+09,NaN,"paglaum,Barangay B16-A fambam DK-2 (CARE palme...",taal 2C31 cabral cemetery civica (grey (WHITE ...,2020-03-07,2020-03-09,NaT,1 days,0 days,1 days,NaT,manila,Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3172243,2336649087,1584446605,1.584683e+09,1.584779e+09,duyan-duyan NOTF Riveras -Up quiteria) LANDMAR...,"rd, Yellowbird Centro Luskot 4553 Bend 3-E1, D...",2020-03-17,2020-03-20,2020-03-21,0 days,0 days,3 days,1 days,manila,Manila
3173489,2350820223,1584671311,1.585028e+09,NaN,"BLG.10 Blk.52 Wisteria 2-F, maggahan L20Pamana...",capricorn (AG EIN 0179 dna. paredes Metro Manila,2020-03-20,2020-03-24,NaT,1 days,0 days,3 days,NaT,manila,Manila
3174893,30872915925073,1585193750,1.585282e+09,NaN,"g.e. Floor-Maxicare) escala BANAHAW. Baradas, ...","Fortune5 Side, 1965 C-4-5 Pur. blk.109 Cloths,...",2020-03-26,2020-03-27,NaT,0 days,0 days,1 days,NaT,manila,Manila
3175057,30960925426405,1585299833,1.585365e+09,1.585704e+09,"5-147 18F-1 MASIWA,MARIGONDON Sagrado Star' GL...","1209 2228 Romarosa vill.Pasay SAMPALOC, Metro ...",2020-03-27,2020-03-28,2020-04-01,0 days,3 days,1 days,1 days,manila,Manila
3176112,31409670371907,1585897966,1.585972e+09,NaN,"7906 /M.cruz W+ Samatra,bebang RE-CJC Cruz,Pas...",Pugo 2N Kennedy Aniceta 2R-1 23 raxabago Josep...,2020-04-03,2020-04-04,NaT,0 days,0 days,1 days,NaT,manila,Manila

#14 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料
    把以上查詢到的資料變成同一的名稱 Metro Manila，並存在新的欄位 b_city

In [27]:
data.loc[data['b_add'].str.contains('manila|Manila'),'b_city']='Metro Manila'
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,NaN

#15 針對其他三個城市也做跟第14題一樣的動作

In [28]:
data.loc[data['b_add'].str.contains('luzon|Luzon'),'b_city']='Luzon'
data.loc[data['b_add'].str.contains('visayas|Visayas'),'b_city']='Visayas'
data.loc[data['b_add'].str.contains('mindanao|Mindanao'),'b_city']='Mindanao'
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,Luzon

#16 針對賣家也做跟第14,15題一樣的動作，並把結果存在 s_city

In [29]:
data.loc[data['s_add'].str.contains('luzon|Luzon'),'s_city']='Luzon'
data.loc[data['s_add'].str.contains('visayas|Visayas'),'s_city']='Visayas'
data.loc[data['s_add'].str.contains('mindanao|Mindanao'),'s_city']='Mindanao'
data.loc[data['s_add'].str.contains('manila|Manila'),'s_city']='Metro Manila'
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,s_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,Metro Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,Metro Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,Luzon,Metro Manila

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

#17 新增一個欄位 sla
    並讓他等於：7天

In [30]:
data['sla']=timedelta(days=7)

#18 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila

In [31]:
data.loc[(data['b_city'] == 'Metro Manila')&(data['s_city'] == 'Metro Manila'),:]

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,s_city,sla
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,Metro Manila,7 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,Metro Manila,7 days
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
5,2222597288,1583328320,1.583567e+09,NaN,C-846 park&shop opens Valeda/Sunrise) CompuWar...,33 sta.mesa 1929 hawthorn Metro Manila,2020-03-04,2020-03-07,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176305,31502339045455,1585918515,1.586230e+09,NaN,"Napolan. Auther 1,digos 3323-24, 1-LL Consorti...","62, 2D (atm 462A Arkong Metro Manila",2020-04-03,2020-04-07,NaT,1 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
3176307,31503788156046,1585886946,1.585974e+09,NaN,"sweetberry Ecija(Mercury Cailin matabao,Buenav...",proper. Alavarado Bl-10 #3030 tarpaulin) 1115 ...,2020-04-03,2020-04-04,NaT,0 days,0 days,1 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
3176308,31504087640510,1585821728,1.585978e+09,NaN,"mayapis. edeliza JC274 5542 brgy.Dita, Metro M...",Intimate St) compound. Sekiat 2B8 98-B Mel far...,2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days
3176309,31504147352227,1585895011,1.586179e+09,1.586232e+09,"Superdome PORKY K307 Libertad, PCGCC sub.bagui...","13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...",2020-04-03,2020-04-06,2020-04-07,1 days,0 days,2 days,1 days,Manila,Manila,Metro Manila,Metro Manila,7 days
3176310,31504462290482,1585826951,1.585965e+09,NaN,Galay's 1republic 333-18 Diliman 74d Malbay fe...,"Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...",2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,7 days

#19 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila
    把以上查詢到的資料存成 3天，並覆蓋 sla

In [32]:
data.loc[(data['b_city'] == 'Metro Manila')&(data['s_city'] == 'Metro Manila'),'sla']=timedelta(days=3)
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,s_city,sla
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,Metro Manila,3 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,Metro Manila,3 days
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,Luzon,Metro Manila,7 days

#20 找出 sla 等於5天的城市，並且覆蓋sla

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

In [33]:
data.loc[(data['b_city'] == 'Luzon')&(data['s_city'] == 'Luzon'),'sla']=timedelta(days=5)
data.loc[(data['b_city'] == 'Metro Manila')&(data['s_city'] == 'Luzon'),'sla']=timedelta(days=5)
data.loc[(data['b_city'] == 'Luzon')&(data['s_city'] == 'Metro Manila'),'sla']=timedelta(days=5)
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,s_city,sla
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,Metro Manila,3 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,Metro Manila,3 days
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,Luzon,Metro Manila,5 days

In [34]:
data.tail(5)

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,s_city,sla
3176308,31504087640510,1585821728,1.585978e+09,NaN,"mayapis. edeliza JC274 5542 brgy.Dita, Metro M...",Intimate St) compound. Sekiat 2B8 98-B Mel far...,2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
3176309,31504147352227,1585895011,1.586179e+09,1.586232e+09,"Superdome PORKY K307 Libertad, PCGCC sub.bagui...","13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...",2020-04-03,2020-04-06,2020-04-07,1 days,0 days,2 days,1 days,Manila,Manila,Metro Manila,Metro Manila,3 days
3176310,31504462290482,1585826951,1.585965e+09,NaN,Galay's 1republic 333-18 Diliman 74d Malbay fe...,"Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...",2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,Metro Manila,3 days
3176311,31504851495943,1585891194,1.586230e+09,NaN,"#4560, 80south biloca vi!!age KM21, MANRESA, ,...",lrt-2 Consolacion 224-A Paradise 6D 36st champ...,2020-04-03,2020-04-07,NaT,1 days,0 days,3 days,NaT,Luzon,Manila,Luzon,Metro Manila,5 days
3176312,31505199116340,1585823923,1.586153e+09,1.586231e+09,b4l13 TOLDA 792-A-5-A east...near CARRASCO Ang...,(Jeepney Kaligayan VANVAN Salud ASA Lauan A-55...,2020-04-02,2020-04-06,2020-04-07,1 days,0 days,3 days,1 days,Luzon,Manila,Luzon,Metro Manila,5 days

#21 找出一下欄位 'orderid', 'final_first', 'final_second', 'sla'
    把結果存成 final_data

In [35]:
final_data=data[['orderid', 'final_first', 'final_second', 'sla']]

In [36]:
final_data.head(10)

      orderid final_first final_second    sla
0  2215676524      3 days          NaT 3 days
1  2219624609      2 days       3 days 3 days
2  2220979489      2 days          NaT 3 days
3  2221066352      2 days          NaT 3 days
4  2222478803      2 days          NaT 5 days
5  2222597288      3 days          NaT 3 days
6  2222738456      3 days       3 days 3 days
7  2224695304      7 days          NaT 3 days
8  2224704587      1 days       3 days 5 days
9  2225138267      5 days          NaT 7 days

#22 在 final_data 新增一個欄位 is_late
    並讓他等於0

In [37]:
final_data['is_late']=0

<ipython-input-37-6040c099dfc7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['is_late']=0

#23 找出 final_first > sla
    只呈現 is_late 欄位

In [38]:
final_data.loc[final_data['final_first']>final_data['sla'],'is_late']

7          0
21         0
22         0
24         0
27         0
          ..
3175495    0
3175526    0
3175569    0
3175668    0
3175876    0
Name: is_late, Length: 441394, dtype: int64

#24 找出 final_first > sla
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

In [39]:
final_data.loc[final_data['final_first']>final_data['sla'],'is_late']=1

C:\Users\Tibame\anaconda3\envs\ting\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [40]:
final_data.head(10)

      orderid final_first final_second    sla  is_late
0  2215676524      3 days          NaT 3 days        0
1  2219624609      2 days       3 days 3 days        0
2  2220979489      2 days          NaT 3 days        0
3  2221066352      2 days          NaT 3 days        0
4  2222478803      2 days          NaT 5 days        0
5  2222597288      3 days          NaT 3 days        0
6  2222738456      3 days       3 days 3 days        0
7  2224695304      7 days          NaT 3 days        1
8  2224704587      1 days       3 days 5 days        0
9  2225138267      5 days          NaT 7 days        0

In [41]:
final_data.loc[final_data['final_first']>final_data['sla']]

                orderid final_first final_second    sla  is_late
7            2224695304      7 days          NaT 3 days        1
21           2227816770      4 days       1 days 3 days        1
22           2227817800      8 days          NaT 7 days        1
24           2227831996      4 days       3 days 3 days        1
27           2227846339      8 days          NaT 7 days        1
...                 ...         ...          ...    ...      ...
3175495  31140751864621      5 days          NaT 3 days        1
3175526  31151634009261      4 days          NaT 3 days        1
3175569  31188333685284      4 days          NaT 3 days        1
3175668  31244254829792      4 days          NaT 3 days        1
3175876  31318581682484      4 days          NaT 3 days        1

[441394 rows x 5 columns]

#25 找出 final_second > 3天
    只呈現 is_late 欄位

In [42]:
final_data.loc[final_data['final_second']>timedelta(days=3),'is_late']

19         0
71         0
99         0
104        1
134        0
          ..
3174691    0
3174925    0
3174937    0
3175085    0
3175135    0
Name: is_late, Length: 345629, dtype: int64

#26 找出 final_second > 3天
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

In [43]:
final_data.loc[final_data['final_second']>timedelta(days=3),'is_late']=1

C:\Users\Tibame\anaconda3\envs\ting\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [44]:
final_data.head(21)

       orderid final_first final_second    sla  is_late
0   2215676524      3 days          NaT 3 days        0
1   2219624609      2 days       3 days 3 days        0
2   2220979489      2 days          NaT 3 days        0
3   2221066352      2 days          NaT 3 days        0
4   2222478803      2 days          NaT 5 days        0
5   2222597288      3 days          NaT 3 days        0
6   2222738456      3 days       3 days 3 days        0
7   2224695304      7 days          NaT 3 days        1
8   2224704587      1 days       3 days 5 days        0
9   2225138267      5 days          NaT 7 days        0
10  2225861241      2 days          NaT 3 days        0
11  2226935316      3 days          NaT 5 days        0
12  2226951056      2 days          NaT 3 days        0
13  2227381103      3 days          NaT 5 days        0
14  2227760598      5 days          NaT 7 days        0
15  2227768858      2 days          NaT 3 days        0
16  2227771109      2 days       1 days 3 days        0
17  2227783105      3 days       2 days 3 days        0
18  2227783217      3 days          NaT 3 days        0
19  2227790841      7 days       7 days 7 days        1
20  2227812042      3 days          NaT 3 days        0

In [45]:
final_data.loc[final_data['final_second']>timedelta(days=3),'is_late']

19         1
71         1
99         1
104        1
134        1
          ..
3174691    1
3174925    1
3174937    1
3175085    1
3175135    1
Name: is_late, Length: 345629, dtype: int64

#27 從 final_data 裡取出 'orderid', 'is_late'

In [46]:
final_data[['orderid', 'is_late']]

                orderid  is_late
0            2215676524        0
1            2219624609        0
2            2220979489        0
3            2221066352        0
4            2222478803        0
...                 ...      ...
3176308  31504087640510        0
3176309  31504147352227        0
3176310  31504462290482        0
3176311  31504851495943        0
3176312  31505199116340        0

[3176313 rows x 2 columns]

#28 將27題存成csv檔
    記得不要輸出 index 欄位

In [47]:
final_data[['orderid', 'is_late']].to_csv('submit.csv',index=False)